<div
  style="overflow-x: auto"
  class="mat-elevation-z8 p-[7px] bg-white rounded-lg border border-zinc-100"
>
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-[700px] md:w-full">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
      class="{{ isRtlLanguage ? 'text-right' : 'text-left' }}"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="bg-[#f8f8f9] rounded-md pt-[11px] pb-[7.5px] text-zinc-400 text-sm font-normal leading-normal"
      >
        {{ "translations." + column | translate }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="{{ isRtlLanguage ? 'ar' : 'en' }}"
      >
      <ng-container *ngIf="column !== 'user'; else emptyParagraph">
        {{ element[column] }}
      </ng-container>
      <ng-template #emptyParagraph>
        <div class="flex items-center">
          <img class="w-7 h-7 relative rounded-2xl" src="https://via.placeholder.com/30x30" alt="image">
         <div class="spans mx-2">
           <p text-gray-900 text-xs font-normal leading-tight>أحمد محمود</p>
           <span class="text-gray-400 text-xs font-normal leading-tight">0123456789</span>

         </div>
        </div>
      </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="flex justify-between items-center">
    <mat-paginator
      [hidePageSize]="true"
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      (page)="pageChange($event)"
    ></mat-paginator>
    <app-paginator
      class=" w-full"
      [isRtlLanguage]="isRtlLanguage"
      (page)="pageChange($event)"
    ></app-paginator>
  </div>
</div>
